name: Pull Request

on:
  pull_request:
    branches: ["master", "develop"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build step
        run: bash ./.github/scripts/exec-build.sh
